.displayDocumentButton {
    color: rgb(255,255,255);
    background-color: rgb(52,152,219);
    font-size: 12px;
    line-height: 28px;
    padding: 0 15px;
    border: 0;
    border-radius: 2px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.displayDocumentButton:hover {
background-color: #58ade3;
border-color: #58ade3;
}
