<!doctype html>
<html lang="en" ng-app="flowpaperTestApp">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flowpaper Prototype</title>
    <link type="text/css" rel="stylesheet" href="./js/flowpaper_3.0.1_c/css/flowpaper_flat.css">
    <link type="text/css" rel="stylesheet" href="./main.css">
    <script src="./js/angular.min.js" type="text/javascript"></script>
    <script src="./js/angular-animate.js" type="text/javascript"></script>
    <script src="./js/flowpaper_3.0.1_c/js/jquery.min.js"></script>
    <script src="./js/flowpaper_3.0.1_c/js/jquery.extensions.min.js"></script>
    <script src="./js/flowpaper_3.0.1_c/js/flowpaper.js"></script>
    <script src="./js/flowpaper_3.0.1_c/js/flowpaper_handlers_debug.js"></script>
    <script src="./js/lodash.js"></script>
    <script src="./app.js" type="text/javascript"></script>
</head>

<body ng-controller="appController">
    <button class="displayDocumentButton" ng-click="displayDocument(true)">
        {{showDocument ? 'Remove Document' : 'Display Fixed Document'}}
    </button>
    <button class="displayDocumentButton" ng-click="displayDocument(false)">
        {{showDocument ? 'Remove Document' : 'Display Flexible Document'}}
    </button>

    <div class="fixedSizeViewerContainer" ng-if="showFixedDocument">
        <document-viewer doc-url="documentUrl" doc-id="{{documentPreviewerId}}"></document-viewer>
    </div>
    <div class="flexibleViewerContainer" ng-if="showFlexibleDocument">
        <document-viewer doc-url="documentUrl" doc-id="{{documentViewerId}}"></document-viewer>
    </div>
</body>
</html>
