html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    height:28px;
    margin: 10px 20px;
}

.documentViewerContainer {
    height:calc(100% - 58px);
    margin:0 10px 10px;
    border: 2px solid #58ade3;
    border-radius: 3px;
    overflow:hidden;
}
